name: Release
on:
  workflow_dispatch:
permissions:
  contents: write

jobs:
  bump:
    runs-on: ubuntu-latest
    outputs:
      bumped: ${{ steps.bump.outputs.bumped }}
      current-version: ${{ steps.bump.outputs.current-version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Bump version
        id: bump
        uses: callowayproject/bump-my-version@master
        env:
          BUMPVERSION_TAG: "true"
        with:
          args: patch
          github-token: ${{ secrets.GITHUB_TOKEN }}
  changelog:
    runs-on: ubuntu-latest
    needs: bump
    outputs:
      changes: ${{ steps.changelog.outputs.changes }}
    if: needs.bump.outputs.bumped == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }} 
      - name: Update CHANGELOG
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ github.token }}
          tag: v${{ needs.bump.outputs.current-version }}
        continue-on-error: true
      - name: Commit CHANGELOG.md
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          branch: main
          commit_message: 'docs: update CHANGELOG.md for ${{ github.ref_name }} [skip ci]'
          file_pattern: CHANGELOG.md
  release:
    runs-on: ubuntu-latest
    needs: [bump, changelog]
    if: needs.bump.outputs.bumped == 'true'
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install poetry
        uses: abatilo/actions-poetry@v2
      - name: Install dependencies
        run: |
          poetry install
      - name: Get dvc hash for export directory
        run: |
          echo "EXPORT_DVC_HASH=$(poetry run python scripts/get_dvc_md5.py export.dvc)" >> $GITHUB_ENV
      - name: Cache dvc directory
        uses: actions/cache@v4
        with:
          path: .dvc
          key: ${{ runner.os }}-${{ env.EXPORT_DVC_HASH }}
      - name: Pull database tables
        run: |
          poetry run dvc pull -v
      - name: Create distribution directory
        run: |
          mkdir dist
          cp -r export pgadmin4 postgresql docker-compose.yml docker-compose.build.yml INSTALLATION.md LICENSE.txt dist/
      - name: Set database version variable
        run: |
          VERSION=${{ github.event.release.tag_name }}
          echo "DTOCEAN_DB_VERSION=${VERSION:1}" > dist/.env
      - name: Create archives
        run: |
          tar czf ../dtocean-database-${{ github.event.release.tag_name }}.tar.gz .
          7z a -tzip ../dtocean-database-${{ github.event.release.tag_name }}.zip .
        working-directory: dist
      - name: Create release
        uses: ncipollo/release-action@v1.20.0
        with:
          allowUpdates: true
          makeLatest: true
          tag: v${{ needs.bump.outputs.current-version }}
          name: 'Version ${{ needs.bump.outputs.current-version }} Release'
          body: ${{ needs.changelog.outputs.changes }}
          artifacts: "dtocean-database-${{ github.event.release.tag_name }}.tar.gz,dtocean-database-${{ github.event.release.tag_name }}.zip"
